.students-container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stat-card {
    flex: 1;
    text-align: center;
    background: #1976d2;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

button {
    color: white;
}

button[color="primary"] {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.mat-icon-button {
    background: transparent !important;
    border: none !important;
    padding: 5px;
}

.mat-icon {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

.mat-icon-button:hover .mat-icon {
    opacity: 0.8;
}